/* =============
    Base
============= */

hr{ 
    height: 3px;
    color: #FABE69;
    background-color: #FABE69;
    border: none;
  }

ul{
    padding: 0;

    li{
        list-style: none;
    }
}