/* =============
    Footer
============= */

    footer{
        display: grid;
        grid-template-columns: 5% auto 5%;
        grid-template-areas: ". footer .";

        #footer-content{
            grid-area: footer;
        }

        p {
            text-align: right;
    
        }

        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 20%;
          }
    }
